@model StudentManagementSystem.Models.Student

@{
    ViewBag.Title = "Student Courses";
}

<h2>Courses for @Model.FirstName @Model.LastName</h2>

@if (Model.Enrollments != null && Model.Enrollments.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Course Code</th>
                <th>Enrollment Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var enrollment in Model.Enrollments)
            {
                <tr>
                  
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>This student is not enrolled in any courses.</p>
}

<p>
    @Html.ActionLink("Back to Students", "Students", null, new { @class = "btn btn-default" })
</p>
